* {
    box-sizing: border-box;
}

body {
    background-color: #16004d;
    color: #b949ff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: #961096;
    color: #eaeaea;
    height: 120px;
    text-align: center;
    padding-left: 3em;
    padding-top: 30px;
}

header a {
    text-decoration: none;

}

header a:link {
    color: #FFFFFF;
}

header a:visited {
    color: #FFFFFF;
}

header a:hover {
    color: #ffacff;
}

nav {
    color: #db2f45;
    font-weight: bold;
    padding: 1.5em;
    float: left;
    width: 160px;
    font-size: 120%;
}

nav a {
    text-decoration: none;
    display: block;
    transition: .15s linear;
}

nav a:link {
    color: #da0f2a;
}

nav a:visited {
    color: #960402;
}

nav a:hover {
    color: #67F9F7;
}

nav ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
    font-size: 1.2em;
}

main {
    padding-top: 1px;
    padding-left: 30px;
    padding-bottom: 20px;
    padding-right: 20px;
    margin-left: 155px;
    display: block;
    overflow: auto;
    text-shadow: 1.25px 1px 1px #202020
}

section {
    float: left;
    width: 33%;
    padding-left: 2em;
    padding-right: 2em;
}

h1 {
    color: #a800a8;
    margin-bottom: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
    color: #db2f45;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h3 {
    color: #960402;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

ul {
    list-style-type: square;
}

label {
    float: left;
    display: block;
    text-align: right;
    width: 140px;
    padding-right: 5px;
}

input {
    display: block;
    margin-bottom: 20px;
}

textarea {
    display: block;
    margin-bottom: 20px;
}

input[type="submit"] {
    margin-left: 140px;
}

footer {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 75%;
    font-style: italic;
    text-align: center;
    padding: 2em;
}

.game-dev {
    color: #960402;
    font-weight: bold;

}

#contact {
    font-size: 90%;
}

#wrap {
    width: 80%;
    margin: auto;
    min-width: 960px;
    max-width: 2048px;
    border: 1px solid #000033;
    box-shadow: 3px 3px 3px #333333;
    background-color: #B36DDF;
    background-image: linear-gradient(to bottom, #B36DDF, #800080)
}

#homehero {
    height: 300px;
    background-image: url(Developlent.jpeg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-left: 175px;
}
#controllerhero{
    height: 80px;
    background-image: url(Controller.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 2em;

}